<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Hệ thống quản lý sinh viên</h3>
            <h4>Trang chủ</h4>
        </div>
        <div class="col-6">
            Bạn không có quyền truy cập nội dung này, vui lòng quay lại trang chủ
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</html>