<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="form-wrapper">
    <main class="form-side">
        <a href="#" title="Logo">
            <img th:src="@{/assets/laplace.svg}" alt="Laplace Logo" class="logo">
        </a>
        <form class="my-form" th:action="@{/authenticateTheUser}" th:object="${user}" method="post">
            <div th:if="${param.error}">
                <span style="color:red">Đăng nhập không thành công,<br/> vui lòng kiểm tra lại mật khẩu hoặc tài khoản!</span>
            </div>
            <div class="form-welcome-row">
                <h1>Welcome back! &#128079;</h1>
                <h2>Login with your account!</h2>
            </div>
            <div class="socials-row">
                <a href="#" title="Use Apple">
                    <img th:src="@{/assets/apple.png}"  alt="Apple">
                    Continue with Apple
                </a>
            </div>
            <div class="socials-row">
                <a href="#" title="Use Github">
                    <img th:src="@{/assets/google.png}" alt="Google">
                    Continue with Google
                </a>
            </div>
            <div class="divider">
                <div class="divider-line"></div>
                or
                <div class="divider-line"></div>
            </div>
            <div class="text-field">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" autocomplete="off" placeholder="abc123"
                       required>
                <div class="error-message">Username in incorrect format</div>
            </div>
            <div class="text-field">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Your password" title="Minimum 6 characters at
                                                        least 1 Alphabet and 1 Number"
                       pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required>
                <div class="error-message">Minimum 6 characters at
                    least 1 Alphabet and 1 Number</div>
            </div>
            <button class="my-form__button" type="submit" >
                Sign In
            </button>
            <div class="my-form__actions">
                <div class="my-form__row">
                    <span>Don't have an account?</span>
                    <a href="#" title="Reset Password">
                        Sign Up Now
                    </a>
                </div>
            </div>
        </form>
    </main>
    <aside class="info-side" th:style="'background: url(\'' + @{/assets/background.jpg} + '\')'">
        <div class="blockquote-wrapper">
            <img th:src="@{/assets/returns.png}" alt="Returns" class="returns">
            <blockquote>
                With Laplace, I have significantly outperformed S&P 500 in the last three
                years.
            </blockquote>
            <div class="author">
                <img th:src="@{/assets/avatar.png}" alt="Avatar" class="avatar">
                <span class="author-name">@ai_trader</span>
            </div>
        </div>
    </aside>
</div>
</body>

</html>